html {
    margin: 2em;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: grey;
}

li {
    padding: 0.3em;
    margin-left: 3em;
    margin-right: 3em;
}

img {
    border: solid 1px black;
}
  

