* {
  text-align: center;
}
#html-index {
  background-image: url(../img/food-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#html-tabulla {
  background-image: url(../img/tabulla.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#html-spaghetti {
  background-image: url(../img/spaghetti.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#html-chicken {
  background-image: url(../img/chicken-curry_500x250.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive, sans-serif;
}
ul,
ol {
  font-family: "Kalam", cursive, sans-serif;
  list-style-position: inside;
}
ul {
  list-style: none;
}

ul.index {
  margin-top: 10px;
  font-size: 42px;
  margin-right: 30%;
}
.li-box {
  display: inline-block;
}
.li-box li {
  display: inline;
}

.header {
  background-color: rgba(48, 136, 48, 0.836);
  border-radius: 12px;
}
#spaghetti-header {
  background-color: rgba(226, 158, 11, 0.644);
}
#chicken-header {
  background-color: rgba(226, 158, 11, 0.644);
}
.header h1 {
  font-weight: bold;
  font-size: 200px;
}
.header-index h1 {
  font-weight: bold;
  font-size: 86px;
}
.letter {
  color: white;
}
img {
  border-radius: 12px;
}
.main .first .second {
  margin: 20px;
  padding: 20px;
}
a:link {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: green;
}
a:active {
  color: blueviolet;
}
